{% extends "base.html" %} 

{% load staticfiles %}

{% block scripts %}
{{ block.super }}
<script>
  $(function () {
    $("#datetimepicker1").datetimepicker({
      format: 'DD/MM/YYYY HH:mm',
    });
  });
</script>
{% endblock%}


{% block content %}

<h2 class="page-header">Nova Anotação Operário</h2>
<hr>
<div class="col-xl-8 offset-xl-2">
    <div class="card mb-3">
        <div class="card-body">
            <form method="post" action="{% url 'anotacao_cliente_operario_criar' %}" >
                {% csrf_token %}

                {% include 'cliente/anotacao_operario/anotacao_form.html' %}

                <button type="submit" class="btn btn-primary" onclick="this.disabled=true,this.form.submit();">Salvar</button>
            </form>
        </div>
    </div>
</div>


{% endblock content %}
