<form method="post" action="{% url 'pagamento_cancelar' form.instance.pk %}" class="js-pagamento-cancelar-form">
  {% csrf_token %}
  <div class="modal-header">
    <h4 class="modal-title">Cancelar Pagamento</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    {% load crispy_forms_tags %}
      {% csrf_token %}
      {{ form | crispy }}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
    <button type="submit" class="btn btn-primary">Salvar</button>
  </div>
</form>
