{% extends "base.html" %}

{% block content %}

{% load staticfiles %}

{% load humanize %}

{% load widget_tweaks %}


<link href="{% static 'theme/checkbox.css' %}" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css" rel="stylesheet">
<link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" rel="stylesheet">
<link href="https://cdn.datatables.net/buttons/1.5.6/css/buttons.bootstrap4.min.css" rel="stylesheet">

<style>
    .dataTables_wrapper{
        width: 99%;
    }

    .data-ordenacao {
        display:none;
    }

</style>


{% if messagem %}
<div class="alert alert-primary" role="alert">
    {{ messagem }}
</div>
{% endif %}

<div class="d-flex  mr-3 mb-5">
    <h2 class="page-header">Lançamentos do Operário: {{ operario.nome }}</h2>
    <a class='btn btn-primary mb-2 ml-3 justify-content-end' href="{% url 'operario_listar' %}">
        <span class="fas fa-sync mr-2"></span>
        Trocar
    </a>
</div>

<div class="container-fluid">

    {% include 'cliente/pagamento/pagamento_tabela_apagar.html' %}

    <div class="row mt-4">
        <div class="col-md-6">
            {% include 'cliente/pagamento/pagamento_tabela_recibo.html' %}
        </div>

        <div class="col-md-6">
            {% include 'cliente/pagamento/pagamento_tabela_anotacao.html' %}
        </div>
    </div>

    <!--    {% include 'cliente/pagamento/pagamento_tabela_pagos.html' %}-->


    <!--    -->


    <!--    {% include 'cliente/pagamento/pagamento_tabela_canceladas.html' %}-->

</div>

<div class="modal fade" id="modal-pagamento">
    <div class="modal-dialog">
        <div class="modal-content">

        </div>
    </div>
</div>


{% endblock content %}


{% block scripts %}

{{ block.super }}
<script src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js" type="text/javascript"
        charset="utf-8"></script>
<script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.bootstrap4.min.js" type="text/javascript"
        charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js" type="text/javascript"
        charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js" type="text/javascript"
        charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js" type="text/javascript"
        charset="utf-8"></script>
<script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js" type="text/javascript"
        charset="utf-8"></script>
<script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.print.min.js" type="text/javascript"
        charset="utf-8"></script>
<script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.colVis.min.js" type="text/javascript"
        charset="utf-8"></script>
<script src="{% static 'apps/cliente/pagamento.js' %}" type="text/javascript" charset="utf-8"></script>
<script>
    $(function () {
  $('[data-toggle="tooltip"]').tooltip()
})

</script>
<script>
var formato = { minimumFractionDigits: 2 , style: 'currency', currency: 'BRL' }
var totalPagamento = 0;
var textBtnTotal = null;

$(document).ready(function() {
      textBtnTotal = $('#valor-total');

      textBtnTotal.text(totalPagamento);
});


function pagamentoToggle(elemento){

    var checkbox = $(elemento);
    var valor = checkbox.closest('tr').children('.valor-lancamento').text().replace(/[\R$.,]/g, '')*1;

    if(checkbox.is(':checked')){
        totalPagamento = totalPagamento + valor;
    }
    else{
        totalPagamento = totalPagamento - valor;
    }

    textBtnTotal.text((totalPagamento/100).toLocaleString('pt-BR'));
}


</script>

{% endblock %}
