{% load staticfiles %}

{% load humanize %}

{% load widget_tweaks %}

<div class="table-responsive card card-shadow p-3">

    <form method="post">
        {% csrf_token %}
        {{ formset.management_form }}

        <div class="d-none">
            {% for form in formset %}
            {{ form.id }}
            {% endfor %}
        </div>

        <div class="d-flex justify-content-between mb-2 mr-3">
            <h3>Lançamentos a pagar:</h3>
            <div>
                <button id="marcar-check" class="btn btn-secondary "><span class="fas fa-dollar-sign"></span>
                    Marcar Todos
                </button>
                <button id="desmarcar-check" class="btn btn-secondary "><span class="fas fa-dollar-sign"></span>
                    Desmarcar Todos
                </button>
                <button type="submit" class="btn btn-success float-right ml-2">
                    </span> Pagar - R$ <span id="valor-total"></span>
                </button>
            </div>
        </div>
        <hr>

        <table class="table table-bordered table-striped" id="pagamento-table" width="100%" style="width: 100%;">
            <thead>
            <th>Data</th>
            <th>Hora</th>
            <th>Lavoura</th>
            <th>Abastecedor</th>
            <th>Unidade</th>
            <th>Qtde. Crédito</th>
            <th>Créditos</th>
            <th>Preço Un.</th>
            <th>Valor</th>
            <th>Pagar</th>
            </thead>
            <tbody>
            {% for form in formset %}
            {% for hidden_field in form.hidden_fields %}
            {{ hidden_field.errors }}
            {{ hidden_field }}
            {% endfor %}

            <tr>
                <td data-order="{{ form.instance.data|date:'U' }}">{{ form.instance.data|date:"SHORT_DATE_FORMAT" }}
                </td>
                <td>{{ form.instance.data|date:"H:i:s" }}</td>
                <td>{{ form.instance.preco_unidade_medida.lavoura }}</td>
                <td>{{ form.instance.abastecedor.user.first_name }} {{ form.instance.abastecedor.user.last_name }}</td>
                <td>{{ form.instance.preco_unidade_medida.unidade_medida }}</td>
                <td>{{ form.instance.credito_unidade_total|floatformat:2 }}</td>
                <td>{{ form.instance.credito|floatformat:2 }}</td>
                <td>R$ {{ form.instance.preco_unidade_medida.preco }}</td>
                <td class="valor-lancamento">R$ {{ form.instance.valor|intcomma }}</td>
                <td style="text-align: center">
                    <div class="checkbox chk-pagamento" style="height: 20px">

                        <label style="">
                            {{ form.pago|attr:"onchange:pagamentoToggle(this);" }}
                            <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                        </label>
                    </div>
                </td>
            </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <th colspan="5" style="text-align: right">Total:</th>
                <th></th>
                <th></th>
                <th></th>
                <th colspan="2"></th>
            </tr>
            </tfoot>
        </table>

        <!--        <div class="d-flex justify-content-end mt-2 mr-3">-->
        <!--            <button type="submit" class="btn btn-lg btn-success float-right">-->
        <!--                </span> Pagar - R$ <span id="valor-total"></span>-->
        <!--            </button>-->
        <!--        </div>-->
    </form>
</div>
