<div class="table-responsive mt-5">
    <h3>Lançamentos pagos:</h3>
    <hr>
    <table class="table table-bordered table-striped" id="pagamento-table2" width="100%" style="width: 100%;">
        <thead>
        <th>Data</th>
        <th>Hora</th>
        <th>Lavoura</th>
        <th>Abastecedor</th>
        <th>Qtde. Crédito</th>
        <th>Preço Un.</th>
        <th>Valor</th>
        <th>Opções</th>
        </thead>
        <tbody>
        {% for lancamento in formset_pago %}
        <tr>
            <td data-order="{{ lancamento.data|date:'U' }}">{{ lancamento.data|date:"SHORT_DATE_FORMAT" }}</td>
            <td>{{ lancamento.data|date:"H:i:s" }}</td>
            <td>{{ lancamento.preco_unidade_medida.lavoura }}</td>
            <td>{{ lancamento.abastecedor.user.first_name }} {{ lancamento.abastecedor.user.last_name }}</td>
            <td>{{ lancamento.credito_unidade_total|floatformat:2 }}</td>
            <td>{{ lancamento.preco_unidade_medida.preco }}</td>
            <td>{{ lancamento.valor }}</td>
            <td style="text-align:center">
                <button class="btn btn-sm btn-danger js-cancelar-pagamento my-1"
                        data-url="{% url 'pagamento_cancelar' lancamento.id %}">
                    <span class="fas fa-ban"></span>
                    Cancelar
                </button>
                <button class="btn btn-sm btn-success js-desfazer-pagamento my-1"
                        data-url="{% url 'pagamento_desfazer' lancamento.id %}"
                        data-toggle="tooltip" data-placement="top" title="Desfazer o Pagamento">
                    <span class="fas fa-undo"></span>
                    Desfazer
                </button>
            </td>
        </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <th colspan="6" style="text-align:right">Total Pago:</th>
            <th colspan="2"></th>
        </tr>
        </tfoot>
    </table>
</div>

