<div class="card card-shadow p-3">
    <div class="table-responsive">
        <h3>Anotações:</h3>
        <hr>
        <table class="table table-bordered table-striped" id="anotacao-table" width="100%" style="width: 100%;">
            <thead>
            <th>#</th>
            <th>Data</th>
            <th>Texto</th>
            <th></th>
            </thead>
            <tbody>
            {% for anotacao in anotacoes %}
            <tr>
                <td>{{ anotacao.id }}</td>
                <td data-order="{{ anotacao.data|date:'U' }}">{{ anotacao.data|date:"SHORT_DATE_FORMAT" }}</td>
                <td>{{ anotacao.texto }}</td>
                <td>
                    <button class="btn btn-sm btn-danger js-arquivar-anotacao"
                            data-url="{% url 'anotacao_operario_arquivar' anotacao.id %}">
                        <span class="fas fa-folder-open"></span>
                        Arquivar
                    </button>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>