<div class="card card-shadow p-3">
    <div class="table-responsive ">
        <h3>Recibos:</h3>
        <hr>
        <table class="table table-bordered table-striped" id="recibo-table" width="100%" style="width: 100%;">
            <thead>
            <th>#</th>
            <th>Data</th>
            <th>Texto</th>
            <th></th>
            </thead>
            <tbody>
            {% for recibo in recibos %}
            <tr>
                <td>{{ recibo.id }}</td>
                <td data-order="{{ recibo.data|date:'U' }}">{{ recibo.data|date:"SHORT_DATE_FORMAT" }}</td>
                <td>R$ {{ recibo.valor_total }}</td>
                <td>
                    <a class='btn btn-warning btn-sm m-1' href="{% url 'recibo_imprimir' recibo.id %}" target="_blank">
                        <span class="fas fa-print"></span>
                        Imprimir
                    </a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>