<form method="post" action="{% url 'pagamento_desfazer' lancamento.id %}" class="js-pagamento-desfazer-form">
  {% csrf_token %}
  <div class="modal-header">
    <h4 class="modal-title">Desfazer Pagamento</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p class="lead">Tem certeza que deseja desfazer o Pagamento?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
    <button type="submit" class="btn btn-success">Desfazer</button>
  </div>
</form>