{% load humanize %}

<div class="table-responsive mt-5">

    <div class="d-flex justify-content-between mb-2 mr-3">
        <h3>Lançamentos cancelados:</h3>
    </div>
    <hr>

    <table class="table table-bordered table-striped" id="cancelados-table" width="100%" style="width: 100%;">
        <thead>
        <th>Data</th>
        <th>Hora</th>
        <th>Lavoura</th>
        <th>Abastecedor</th>
        <th>Qtde. Crédito</th>
        <th>Preço Un.</th>
        <th>Valor</th>
        <th></th>
        </thead>
        <tbody>
        {% for cancelada in lancamentos_cancelados %}

        <tr>
            <td>{{ cancelada.data|date:"SHORT_DATE_FORMAT" }}</td>
            <td>{{ cancelada.data|date:"H:i" }}</td>
            <td>{{ cancelada.preco_unidade_medida.lavoura }}</td>
            <td>{{ cancelada.abastecedor.user.first_name }} {{ cancelada.abastecedor.user.last_name }}</td>
            <td>{{ cancelada.credito_unidade_total|floatformat:2 }}</td>
            <td>R$ {{ cancelada.preco_unidade_medida.preco }}</td>
            <td>R$ {{ cancelada.valor|intcomma }}</td>
            <td>
                <button class="btn btn-sm btn-success js-texto-cancelado"
                        data-url="{% url 'consultar_cancelado' cancelada.id %}">
                    <span class="fas fa-align-left mr-2"></span>
                    Texto
                </button>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

</div>