{% load core_extras %}

{% for lavoura in lavouras %}
    <tr>
        <td></td>
        <td>{{ lavoura.nome }}</td>
        <td>{{ lavoura.hectares }}</td>
        <td>{{ lavoura.inativa|yesno:"Sim,Não" }}</td>
        <td>
            <a class='btn btn-warning btn-sm m-1' href="{% url 'lavoura_atualizar' lavoura.id %}"> <span class="fa fa-edit"></span> Editar</a>
        </td>
    </tr>
{% endfor %}