{% extends "base.html" %} 

{% load staticfiles %}

{% load core_extras %}
{% block scripts %}
{{ block.super }}
<script src="{% static 'apps/cliente/lavoura.js' %}" type="text/javascript" charset="utf-8"></script>
{% endblock %}
{% block content %}

<h2 class="page-header">Lista de Lavouras</h2>
<hr>
{% if request.user|is_cliente %}
<div class="d-flex justify-content-end">
    <a class='btn btn-primary mb-2 justify-content-end' href="{% url 'lavoura_criar' %}"> <span class="fa fa-plus"></span> Nova</a>
</div>
{% endif %}


<div class="table-responsive p-3">
    <table class="table table-bordered dataTable " id="lavoura-table" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
        <thead>
            <th>#</th>
            <th>Nome</th>
            <th>Hectares</th>
            <th>Inativa</th>
            <th></th>
        </thead>
        <tbody>
            {% include 'cliente/lavoura/lavoura_lista_parcial.html' %}</tbody>
    </table>
</div>

<div class="modal fade" id="modal-lavoura">
    <div class="modal-dialog">
        <div class="modal-content">

        </div>
    </div>
</div>



{% endblock content %}
