{% extends "base.html" %} 

{% block content %}

{% load staticfiles %}

<h2 class="page-header">Nova Lavoura</h2>
<hr>
<div class="col-xl-8 offset-xl-2">
<div class="card mb-3">
    <div class="card-body">
        <form method="post" action="{% url 'lavoura_criar'  %}" >
            {% load crispy_forms_tags %}
            {% csrf_token %}

            <h4 class="pt-5">Informações Gerais</h4>
            {{ form | crispy }}

            <a type="button" class="btn btn-default" href="{% url 'lavoura_listar' %}">Cancelar</a>
            <button type="submit" class="btn btn-primary" onclick="this.disabled=true,this.form.submit();">Salvar</button>
        </form>
    </div>
</div>
</div>


{% endblock content %}
