{% extends "base.html" %}

{% block content %}

{% load staticfiles %}

<h2 class="page-header">Nova Lavoura</h2>
<hr>
<div class="col-xl-8 offset-xl-2">
<div class="card mb-3">
    <div class="card-body">
        <form method="post" action="{% url 'lavoura_detalhe' form.instance.pk %}" >
            {% csrf_token %}

            {% include 'cliente/lavoura/lavoura_form.html' %}

            <a type="button" class="btn btn-default" href="{% url 'lavoura_listar' %}">Cancelar</a>
            <button type="submit" class="btn btn-primary">Salvar</button>
        </form>
    </div>
</div>
</div>


{% endblock content %}
