
{% load crispy_forms_tags %}

{% csrf_token %}

<h4 class="pt-1">Informações Gerais</h4>
{{ form | crispy }}

<h4 class="pt-5">Medidas</h4>
 <table class="table">
{{ formset.management_form }}

{% for form in formset.forms %}
    {% if forloop.first %}
    <thead>
        <tr>
            {% for field in form.visible_fields %}
                <th>{{ field.label|capfirst }}</th>
            {% endfor %}
        </tr>
    </thead>
    {% endif %}
    <tr class="{% cycle 'row1' 'row2' %} formset_row">
        {% for field in form.visible_fields %}
            <td>
                {# Include the hidden fields in the form #}
                {% if forloop.first %}
                    {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}
                {% endif %}
                {{ field.errors.as_ul }}
                {{ field }}
            </td>
        {% endfor %}
    </tr>
{% endfor %}
</table>

<h4 class="pt-5">Endereço</h4>
{{ form_endereco | crispy }}

{% block scripts %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.formset/1.2.2/jquery.formset.min.js"></script>
<script type="text/javascript">
    $('.formset_row').formset({
        addText: '+ Produto',
        deleteText: 'Remover',
        prefix: 'formset_set',
        deleteCssClass: 'btn-delete-formset',
        addCssClass: 'btn btn-sm btn-primary',
    });
</script>

{% endblock scripts %}
