{% extends "base.html" %}

{% load staticfiles %}

{% block scripts %}
{{ block.super }}
<script src="{% static 'apps/cliente/dashboard.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script>
$(document).ready(function(){

    var ctxCreditos = document.getElementById('creditosChart').getContext('2d');

    var lavouras = JSON.parse('{{ lavouras|safe }}');
    var creditos = JSON.parse('{{ creditos|safe }}');

    var chart = new Chart(ctxCreditos, {
        // The type of chart we want to create
        type: 'doughnut',

        // The data for our dataset
        data: {
            labels: lavouras,
            datasets: [{
                backgroundColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(15, 102, 255, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(25, 26, 86, 1)',
                    'rgba(175, 192, 192, 5)',
                    'rgba(153, 102, 255, 5)',
                    'rgba(255, 19, 64, 5)'
                ],
                data: creditos
            }]
        },

        // Configuration options go here
        options: {}
    });


    var ctxValor = document.getElementById('valorChart').getContext('2d');

    var lavouras = JSON.parse('{{ lavouras|safe }}');
    var valores = JSON.parse('{{ valores|safe }}');

    var chart = new Chart(ctxValor, {
        // The type of chart we want to create
        type: 'doughnut',

        // The data for our dataset
        data: {
            labels: lavouras,
            datasets: [{
                backgroundColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(15, 102, 255, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(25, 26, 86, 1)',
                    'rgba(175, 192, 192, 5)',
                    'rgba(153, 102, 255, 5)',
                    'rgba(255, 19, 64, 5)'
                ],
                data: valores
            }]
        },

        // Configuration options go here
        options: {}
    });

});


</script>
{% endblock %}


{% block content %}
<div class="header">
    <h1>Dashboard Cliente</h1>
</div>

<hr>
{% load widget_tweaks %}


<div class="jumbotron">
    <form method="get">
        <div class="well">
            <h4 style="margin-top: 0">Pesquisa de lançamentos</h4>
            <div class="row">

                <div class="form-group col-sm-6 col-md-4">
                    <label>Data</label>
                    <div class="d-flex">
                        {% render_field filter.form.data class="form-control" %}
                    </div>
                </div>

                <div class="form-group col-sm-4 col-md-3">
                    <label>Lavoura</label>
                    {% render_field filter.form.preco_unidade_medida__lavoura class="form-control" %}
                </div>
                <div class="form-group col-sm-4 col-md-3">
                    <label>Unidade Medida</label>
                    {% render_field filter.form.preco_unidade_medida__unidade_medida class="form-control" %}
                </div>
            </div>
            <button type="submit" class="btn btn-success btn-lg">Pesquisar</button>
        </div>
    </form>
</div>

<div class="container">
    <div class="row">
        <div class="col-6 text-center">
            <h1>Lavouras x Creditações</h1>
            <canvas id="creditosChart"></canvas>
        </div>
        <div class="col-6 text-center ">
            <h1>Lavouras x Valor</h1>
            <canvas id="valorChart"></canvas>
        </div>
    </div>

</div>


<table class="table table-bordered" id="dashboard-table">
    <thead>
    <tr>
        <th>Lavoura</th>
        <th>Valor Total</th>

    </tr>
    </thead>
    <tbody>
    {% for lancamento in filter.qs %}
    <tr>
        <td>{{ lancamento.preco_unidade_medida__lavoura__nome }}</td>
        <td>{{ lancamento.valor_total }}</td>
    </tr>
    {% endfor %}
    </tbody>
    <!--    <tfoot>-->
    <!--            <tr>-->
    <!--                <th colspan="3" style="text-align: right">Total:</th>-->
    <!--                <th></th>-->
    <!--                <th></th>-->
    <!--            </tr>-->
    <!--        </tfoot>-->
</table>

{% endblock content %}
