<form method="post" action="{% url 'unidade_medida_criar' %}" class="js-unidade-medida-create-form">
  {% csrf_token %}
  <div class="modal-header">
    <h4 class="modal-title">Criar uma nova Unidade Medida</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    {% include 'gerenciamento/unidade_medida/unidade_medida_form.html' %}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
    <button type="submit" class="btn btn-primary" >Salvar</button>
  </div>
</form>