{% for unidade_medida in unidade_medidas %}
    <tr> 
        <td>{{ unidade_medida.id }}</td>
        <td>{{ unidade_medida.medida }}</td>
        <td>{{ unidade_medida.unidade }}</td>
        <td>{{ unidade_medida.quantidade_unidade }}</td>
        <td>{{ unidade_medida.inativa|yesno:"Sim,Não" }}</td>
        <td>
            <button class='btn btn-warning btn-sm js-update-unidade-medida m-1' data-url="{% url 'unidade_medida_atualizar' unidade_medida.id %}"> <span class="fa fa-edit"></span> Editar</button>
      </td>
    </tr>
{% endfor %}