{% extends "base.html" %} 

{% block content %}

{% load staticfiles %}

{% block scripts %}
<script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
<script src="{% static 'apps/gerenciamento/unidade-medida.js' %}" type="text/javascript" charset="utf-8"></script>
{% endblock %}
<!-- Breadcrumbs-->
{% comment %} <ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="{% url ''%}">Agricultura</a>
    </li>
    <li class="breadcrumb-item active">Lista</li>
</ol> {% endcomment %}

<!-- DataTables Example -->
<h2 class="page-header">Lista de Unidade de Medida</h2>
<hr>
<div class="d-flex justify-content-end">
    <button class='btn btn-primary js-create-unidade-medida mb-2 justify-content-end' data-url="{% url 'unidade_medida_criar' %}"> <span class="fa fa-plus"></span> Nova</button>
</div>

<div class="table-responsive p-3">
    <table class="table table-bordered dataTable " id="unidade-medida-table" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
        <thead>
            <th>#</th>
            <th>Medida</th>
            <th>Unidade</th>
            <th>Quantidade</th>
            <th>Inativa</th>
            <th></th>
        </thead>
        <tbody>
            {% include 'gerenciamento/unidade_medida/unidade_medida_lista_parcial.html' %}</tbody>
    </table>
</div>

<div class="modal fade" id="modal-unidade-medida">
    <div class="modal-dialog">
        <div class="modal-content">

        </div>
    </div>
</div>



{% endblock content %}
