<form method="post" action="{% url 'cultivo_criar' %}" class="js-cultivo-create-form">
  {% csrf_token %}
  <div class="modal-header">
    <h4 class="modal-title">Criar um novo Cultivo</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    {% include 'gerenciamento/cultivo/cultivo_form.html' %}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
    <button id="btn-salvar" class="btn btn-primary" >Salvar</button>
  </div>
</form>