{% for cultivo in cultivos %}
    <tr>
        <td>{{ cultivo.pk }}</td>
        <td>{{ cultivo.plantio }}</td>
        <td>{{ cultivo.especie }}</td>
        <td>{{ cultivo.tipo }}</td>
        <td>{{ cultivo.inativo|yesno:"Sim,Não" }}</td>
        <td>
            <button class='btn btn-warning btn-sm js-update-cultivo m-1' data-url="{% url 'cultivo_atualizar' cultivo.id %}"> <span class="fa fa-edit"></span> Editar</button>
        </td>
    </tr>
{% endfor %}