{% extends "base.html" %} 

{% block content %}

{% load staticfiles %}

{% block scripts %}
<script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
<script src="{% static 'apps/gerenciamento/cultivo.js' %}" type="text/javascript" charset="utf-8"></script>
{% endblock %}
<!-- Breadcrumbs-->
{% comment %} <ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="{% url ''%}">Cultivo</a>
    </li>
    <li class="breadcrumb-item active">Lista</li>
</ol> {% endcomment %}

<!-- DataTables Example -->
<h2 class="page-header">Cultivos</h2>
<hr>
<div class="d-flex justify-content-end">
    <button class='btn btn-primary js-create-cultivo mb-2 justify-content-end' data-url="{% url 'cultivo_criar' %}"> <span class="fa fa-plus"></span> Nova</button>
</div>

<div class="table-responsive p-3">
    <table class="table table-bordered dataTable " id="cultivo-table" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
        <thead>
            <th>#</th>
            <th>Plantio</th>
            <th>Especie</th>
            <th>Tipo</th>
            <th>Inativo</th>
            <th></th>
        </thead>
        <tbody>
            {% include 'gerenciamento/cultivo/cultivo_lista_parcial.html' %}</tbody>
    </table>
</div>
<div class="modal fade" id="modal-cultivo">
    <div class="modal-dialog">
        <div class="modal-content">

        </div>
    </div>
</div>



{% endblock content %}
