{% extends 'base_core.html' %}

{% block content %}

<div class="card card-login mx-auto mt-5">
    <div class="card-header">Cadastro</div>
    <div class="card-body">
        <form method="POST">
            {% csrf_token %}
            {% load crispy_forms_tags %} 
            {{ form | crispy }}
            <button class="btn btn-success btn-block" type="submit">Cadastrar</button>
        </form>
    </div>
</div>


{% endblock %}