{% extends 'base_core.html' %}

{% block content %}

<div class="card card-login mx-auto mt-5">
    <div class="card-header">Login</div>
        <div class="card-body">
            <form action="/login/" method="POST">
                {% csrf_token %}
                <div class="form-group">
                
                    <label for="username">Nome de Usuário</label>
                    <input type="text" id="username" name="username" class="form-control" placeholder="Nome de usuario" required="required" autofocus="autofocus">
                
                </div>
                <div class="form-group">
                    <label for="password">Senha</label>
                    <input type="password" id="password" name="password" class="form-control" placeholder="Password" required="required">
                </div>
                <div class="form-group">
                <div class="checkbox">
                    <label>
                    <input type="checkbox" value="remember-me">
                    Lembrar senha
                    </label>
                </div>
                </div>
                <button class="btn btn-primary btn-block" type="submit">Login</button>
            </form>
      <div class="text-center">
         <a class="d-block small mt-3" href="{% url 'inscricao' %}">Cadastre-se</a>
         {% comment %}<a class="d-block small" href="forgot-password.html">Forgot Password?</a> {% endcomment %}
      </div>
    </div>
  </div>

  {% endblock %}