{% extends 'base_core.html' %}

{% load widget_tweaks %}

{% block content %}
<div class="card card-login mx-auto mt-5">
    <div class="card-header"><strong>GCOL:</strong> Resete a sua senha</div>
    <div class="card-body">
        <form method="POST">
            {% csrf_token %}

            {% for hidden in form.hidden_fields %}
            {{ hidden }}
            {% endfor %}

            {% for field in form.visible_fields %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field|add_class:'form-control' }}
                {% for error in field.errors %}
                <span class="help-block">{{ error }}</span>
                {% endfor %}
            </div>
            {% endfor %}

            <button class="btn btn-primary btn-block" type="submit">Resetar</button>
        </form>
    </div>
</div>
</div>

{% endblock %}