{% extends 'base_core.html' %}

{% block content %}

<style>
    .bg-dark {
        background-color: white !important;
    }
</style>

<div id="content" class="colM">
    <h1>GCOL Informa: Redefinição de senha enviada</h1>

    <p>Nós te enviamos por e-mail as instruções para redefinição de sua senha, se existir uma conta com o e-mail que
        você forneceu. Você receberá a mensagem em breve.</p>

    <p>Se você não receber um e-mail, por favor verifique se você digitou o endereço que você usou para se registrar, e
        verificar a sua pasta de spam.</p>

    <br class="clear">
</div>

{% endblock %}