{% extends "base.html" %} 

{% block content %}

{% load staticfiles %}

<h2 class="page-header">Editar Anotação {{ anotacao.data }}</h2>
<hr>
<div class="col-xl-8 offset-xl-2">
    <div class="card mb-3">
        <div class="card-body">
            <form method="post" action="{% url 'anotacao_operario_atualizar' form.instance.pk %}" >
                {% csrf_token %}

                {% include 'abastecedor/anotacao_operario/anotacao_form.html' %}

                <a type="button" class="btn btn-default" href="{% url 'anotacao_operario_listar' %}">Cancelar</a>
                <button type="submit" class="btn btn-primary">Salvar</button>

            </form>
        </div>
    </div>
</div>
{% endblock content %}
