{% for anotacao in anotacoes %}
    <tr>
        <td>{{ anotacao.id }}</td>
        <td>{{ anotacao.data }}</td>
        <td>{{ anotacao.operario }} </td>
        <td>{{ anotacao.texto }}</td>
        <td>
            <a class='btn btn-warning btn-sm m-1' href="{% url 'anotacao_operario_atualizar' anotacao.id %}"> <span class="fa fa-edit"></span> Editar</a>
            <button class='btn btn-danger btn-sm js-delete-anotacao m-1' data-url="{% url 'anotacao_operario_excluir' anotacao.id %}"> <span class="fa fa-trash"></span> Excluir</button>
        </td>
    </tr>
{% endfor %}