{% for associado in associados %}
    <tr>
        <td>{{ associado.id }}</td> 
        <td>{{ associado.user.get_full_name }} </td>
        <td>{{ associado.telefone }}</td>
        <td>
            <a class='btn btn-warning btn-sm m-1' href="{% url 'associado_atualizar' associado.id %}"> <span class="fa fa-edit"></span> Editar</a>
            <button class='btn btn-danger btn-sm js-delete-associado m-1' data-url="{% url 'associado_excluir' associado.id %}"> <span class="fa fa-trash"></span> Excluir</button>
        </td>
    </tr>
{% endfor %}