{% extends "base.html" %} 

{% load staticfiles %}

{% block scripts %}
{{ block.super }}
<script src="{% static 'apps/cliente/associado.js' %}" type="text/javascript" charset="utf-8"></script>
{% endblock %}


{% block content %}

<h2 class="page-header">Lista de Associados</h2>
<hr>
<div class="d-flex justify-content-end">
    <a class='btn btn-primary mb-2 justify-content-end' href="{% url 'associado_criar' %}"> <span class="fa fa-plus"></span> Nova</a>
</div>

<div class="table-responsive p-3">
    <table class="table table-bordered dataTable " id="associado-table" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
        <thead>
            <th>#</th>
            <th>Nome</th>
            <th>Celular</th>
            <th></th>
        </thead>
        <tbody>
            {% include 'cliente/associado/associado_lista_parcial.html' %}</tbody>
    </table>
</div>

<div class="modal fade" id="modal-associado">
    <div class="modal-dialog">
        <div class="modal-content">

        </div>
    </div>
</div>



{% endblock content %}
