<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://files.codepedia.info/files/uploads/iScripts/html2canvas.js"></script>
  </head>
<body>
  {% load qr_code %}

  <div id="cracha" class="modal-body text-center" style="width:200px">
    <div id="conteudo" style="border: 1px solid; padding: 20px; ">
      <div style="margin-bottom:20px">
        <h1 style="margin:0px; text-align: center; margin-bottom: 5px">GCOL</h1>
        <h3 style="margin:0px; text-align: center">{{ operario.nome }}</h3>
        <h5 style="margin:0px; text-align: center">CPF: {{ operario.cpf }}</h5>
        <h5 style="margin:0px; text-align: center">Nº QR-CODE: {{ qrcode }}</h5>
      </div>
      <img src="{% qr_url_from_text qrcode size=20 border=0 %}">
    </div>
  </div>
  <input id="btn-Preview-Image" type="button" value="Preview"/>
  <a id="btn-Convert-Html2Image" href="#">Download</a>
  <br/>
  <h3>Preview :</h3>
  <div id="previewImage">
  </div>
<script>
$(document).ready(function(){


var element = $("#cracha"); // global variable
var getCanvas; // global variable

    $("#btn-Preview-Image").on('click', function () {
         html2canvas(element, {
         dpi: 250,
         onrendered: function (canvas) {
                $("#previewImage").append(canvas);
                getCanvas = canvas;
             }
         });
    });

	$("#btn-Convert-Html2Image").on('click', function () {
      var imgageData = getCanvas.toDataURL("image/png",1.0);
      // Now browser starts downloading it instead of just showing it
      var newData = imgageData.replace(/^data:image\/png/, "data:application/octet-stream");
      $("#btn-Convert-Html2Image").attr("download", "your_pic_name.png").attr("href", newData);
	});

});

</script>
</body>
</html>