{% extends "base.html" %}

{% block content %}

{% load staticfiles %}

{% load core_extras %}

<h2 class="page-header">Lista de Operários</h2>
<hr>


<div class="d-flex justify-content-end">
    <a class='btn btn-primary mb-2 justify-content-end' href="{% url 'operario_listar' %}"> <span
            class="fa fa-plus"></span> Lista Operarios</a>
</div>

<h1>Menu aqui</h1>

        <td style="text-align:center;">
            <a class='btn btn-warning btn-sm m-1' href="{% url 'operario_atualizar' operario.id %}" data-toggle="tooltip" data-placement="top" title="Editar">
                <span class="fa fa-edit"></span>
            </a>
            <button class='btn btn-success btn-sm js-qrcode-operario m-1' data-url="{% url 'operario_qrcode' operario.id %}" data-toggle="tooltip" data-placement="top" title="QR-CODE">
                <span class="fa fa-qrcode"></span>
            </button>
            <a class='btn btn-secondary btn-sm js-cracha-operario m-1' href="{% url 'operario_cracha' operario.id %}" target="_blank" data-toggle="tooltip" data-placement="top" title="Crachá">
                <span class="fa fa-clipboard"></span>
            </a>
            <a class='btn btn-warning btn-sm m-1' href="{% url 'pagamento_lancamento' operario.id %}" data-toggle="tooltip" data-placement="top" title="Pagamento">
                <span class="fas fa-hand-holding-usd" ></span>
            </a>
        </td>

<div class="row">

    <div class="col-md-2 col-xlg-2">
        <a href="{% url 'operario_atualizar' operario.id %}" data-toggle="tooltip" data-placement="top" title="Editar">
            <div class="card card-inverse card-primary">
                <div class="box text-center btn btn-warning">
                    <i class="btn-menu-paciente fa fa-3x fa-edit m-3"></i>
                    <h4 class="text-white">Editar Cadastro</h4>
                </div>
            </div>
        </a>
    </div>

    <div class="col-md-2 col-xlg-2">
        <a href="#">
            <div class="card card-inverse card-primary">
                <div class="box text-center btn btn-primary">
                    <i class="btn-menu-paciente fa fa-4x fa-edit"></i>
                    <h3 class="text-white">Editar Cadastro</h3>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-2 col-xlg-2">
        <a href="#">
            <div class="card card-inverse card-primary">
                <div class="box text-center btn btn-primary">
                    <i class="btn-menu-paciente fa fa-4x fa-edit"></i>
                    <h3 class="text-white">Editar Cadastro</h3>
                </div>
            </div>
        </a>
    </div>
</div>

<div class="modal fade" id="modal-operario">
    <div class="modal-dialog">
        <div class="modal-content">

        </div>
    </div>
</div>

{% endblock content %}

{% block scripts %}
{{ block.super }}
<script src="{% static 'apps/cliente/operario.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'plugins/html2canvas/html2canvas.min.js' %}"></script>
<script>
    $(function () {
  $('[data-toggle="tooltip"]').tooltip()
})

</script>
{% endblock %}