{% extends "base.html" %} 

{% block content %}

{% load staticfiles %}

{% load core_extras %}

<h2 class="page-header">Lista de Operários</h2>
<hr>

{% if request.user|is_cliente %}
<div class="d-flex justify-content-end">
    <a class='btn btn-primary mb-2 justify-content-end' href="{% url 'operario_criar' %}"> <span class="fa fa-plus"></span> Novo</a>
</div>
{% endif %}

<div class="table-responsive">
    <table class="table table-bordered dataTable " id="operario-table" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
        <thead>
            <th>#</th>
            <th>Nome</th>
            <th>Celular</th>
            <th>Inativo</th>
            <th></th>
        </thead>
        <tbody>
            {% include 'cliente/operario/operario_lista_parcial.html' %}</tbody>
    </table>
</div>

<div class="modal fade" id="modal-operario">
    <div class="modal-dialog">
        <div class="modal-content">

        </div>
    </div>
</div>

{% endblock content %}

{% block scripts %}
{{ block.super }}
<script src="{% static 'apps/cliente/operario.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'plugins/html2canvas/html2canvas.min.js' %}"></script>
<script>
    $(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>
{% endblock %}