{% for operario in operarios %}
<tr>
    <td></td>
    <td>{{ operario.nome }}</td>
    <td>{{ operario.celular }}</td>
    <td>{{ operario.inativo|yesno:"Sim,Não" }}</td>
    <td style="text-align:center;">
        <a class='btn btn-warning btn-sm m-1' href="{% url 'operario_atualizar' operario.id %}" data-toggle="tooltip"
           data-placement="top" title="Editar">
            <span class="fa fa-edit"></span>
        </a>
        <button class='btn btn-success btn-sm js-qrcode-operario m-1' data-url="{% url 'operario_qrcode' operario.id %}"
                data-toggle="tooltip" data-placement="top" title="QR-CODE">
            <span class="fa fa-qrcode"></span>
        </button>
        <a class='btn btn-secondary btn-sm js-cracha-operario m-1' href="{% url 'operario_cracha' operario.id %}"
           target="_blank" data-toggle="tooltip" data-placement="top" title="Crachá">
            <span class="fa fa-clipboard"></span>
        </a>
        <a class='btn btn-warning btn-sm m-1' href="{% url 'pagamento_lancamento' operario.id %}" data-toggle="tooltip"
           data-placement="top" title="Pagamento">
            <span class="fas fa-hand-holding-usd"></span>
        </a>
    </td>
</tr>
{% endfor %}