{% load qr_code %}

<div class="modal-header">
  <h4 class="modal-title">QRCode Operário</h4>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body text-center">
  <img src="{% qr_url_from_text qrcode size=40 border=0 %}">
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
</div>