{% load qr_code %}

<div class="modal-header">
  <h4 class="modal-title">QRCode Operário</h4>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div id="cracha" class="modal-body text-center">
  <div id="conteudo" style="width:fit-content; border: 1px solid; padding: 20px; margin-left: auto; margin-right: auto;">
    <div style="margin-bottom:20px">
      <h1 style="margin:0px; text-align: center; margin-bottom: 5px">GCOL</h1>
      <h3 style="margin:0px; text-align: center">{{ operario.nome }}</h3>
      <h5 style="margin:0px; text-align: center">CPF: {{ operario.cpf }}</h5>
      <h5 style="margin:0px; text-align: center">Nº QR-CODE: {{ qrcode }}</h5>
    </div>
    {% qr_from_text qrcode size=20 border=0 %}
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-success" onclick="PrintElem()">Imprimir Crachá</button>
  <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
</div>

{% block scripts %}
<script>
  function PrintElem()
  {
      var mywindow = window.open('', 'PRINT', 'height=400,width=600');

      mywindow.document.write('<html><head><title>' + document.title  + '</title>');
      mywindow.document.write('</head><body >');
      mywindow.document.write(document.getElementById("cracha").innerHTML);
      mywindow.document.write('</body></html>');

      mywindow.document.close(); // necessary for IE >= 10
      mywindow.focus(); // necessary for IE >= 10*/

      mywindow.print();
      mywindow.close();

      return true;
  }
  </script>
{% endblock %}