{% for lancamento in lancamentos %}
    <tr>
        <td>{{ lancamento.data|date:"SHORT_DATE_FORMAT" }}</td>
        <td>{{ lancamento.data|date:"H:i" }}</td>
        <td>{{ lancamento.preco_unidade_medida.lavoura }}</td>
        <td>{{ lancamento.operario }}</td>
        <td>{{ lancamento.preco_unidade_medida.unidade_medida }} - R$ {{ lancamento.preco_unidade_medida.preco }}</td>
        <td>{{ lancamento.credito }}</td>
        <td>{{ lancamento.valor }}</td>
        <td>
            <a class='btn btn-warning btn-sm m-1' href="{% url 'lancamento_atualizar' lancamento.id %}"> <span class="fa fa-edit"></span> Editar</a>
            <button class='btn btn-danger btn-sm js-delete-lancamento m-1' data-url="{% url 'lancamento_excluir' lancamento.id %}"> <span class="fa fa-trash"></span> Excluir</button>
        </td>
    </tr>
{% endfor %}