{% extends "base.html" %} 

{% block content %}

{% load staticfiles %}

{% block scripts %}
<script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
<script src="{% static 'apps/abastecedor/lancamento.js' %}" type="text/javascript" charset="utf-8"></script>
{% endblock %}

<h2 class="page-header">Lançamentos</h2>
<hr>
<div class="d-flex justify-content-end">
    <a class='btn btn-primary mb-2 justify-content-end' href="{% url 'lancamento_criar' %}"> <span class="fa fa-plus"></span> Nova</a>
</div>

<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
        Lista de Lançamentos
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered dataTable " id="lancamento-table" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                <thead>
                    <th>Data</th>
                    <th>Hora</th>
                    <th>Lavoura</th>
                    <th>Operário</th>
                    <th>Un. Medida</th>
                    <th>Qtde. Crédito</th>
                    <th>Valor</th>
                    <th></th>
                </thead>
                <tbody>
                    {% include 'abastecedor/lancamento/lancamento_lista_parcial.html' %}</tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-lancamento">
    <div class="modal-dialog">
        <div class="modal-content">

        </div>
    </div>
</div>



{% endblock content %}
