{% extends "base.html" %} 

{% block content %}

{% load staticfiles %}

<script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>

<h2 class="page-header">Editar Lançamento {{ lancamento }}</h2>
<hr>
<div class="col-xl-8 offset-xl-2">
    <div class="card mb-3">
        <div class="card-body">
            <form method="post" action="{% url 'lancamento_atualizar' form.instance.pk %}" >
                {% csrf_token %}

                {% include 'abastecedor/lancamento/lancamento_form.html' %}

                <a type="button" class="btn btn-default" href="{% url 'lancamento_listar' %}">Cancelar</a>
                <button type="submit" class="btn btn-primary">Salvar</button>

            </form>
        </div>
    </div>
</div>
{% endblock content %}
