{% extends "base.html" %} 

{% block content %}

{% load staticfiles %}

{% block scripts %}
<script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
<script>
  $(function () {
    $("#datetimepicker1").datetimepicker({
      format: 'DD/MM/YYYY HH:mm',
    });
  });
</script>
{% endblock %}


<h2 class="page-header">Novo Lançamento</h2>
<hr>
<div class="col-xl-8 offset-xl-2">
<div class="card mb-3">
    <div class="card-body">
        <form method="post" action="{% url 'lancamento_criar'  %}" >
            {% csrf_token %}

            {% include 'abastecedor/lancamento/lancamento_form.html' %}

            <a type="button" class="btn btn-default" href="{% url 'lancamento_listar' %}">Cancelar</a>
            <button type="submit" class="btn btn-primary" onclick="this.disabled=true,this.form.submit();">Salvar</button>
        </form>
    </div>
</div>
</div>


{% endblock content %}
