{% extends "base.html" %} 

{% load staticfiles %}

{% block scripts %}
{{ block.super }}
<script>
  $(function () {
    $("#datetimepicker1").datetimepicker({
      format: 'DD/MM/YYYY HH:mm',
    });
  });
</script>
{% endblock %}

{% block content %}
<h2 class="page-header">Novo Lançamento</h2>
<hr>
<div class="col-xl-8 offset-xl-2">
<div class="card mb-3">
    <div class="card-body">
        <form method="post" action="{% url 'lancamento_cliente_criar'  %}" >
            {% csrf_token %}

            {% include 'cliente/lancamento/lancamento_form.html' %}

            <a type="button" class="btn btn-default" href="{% url 'lancamento_cliente_listar' %}">Cancelar</a>
            <button type="submit" class="btn btn-primary" onclick="this.disabled=true,this.form.submit();">Salvar</button>
        </form>
    </div>
</div>
</div>


{% endblock content %}
