{% extends "base.html" %} 

{% load staticfiles %}

{% block scripts %}

{{ block.super }}

<script src="{% static 'apps/cliente/lancamento.js' %}" type="text/javascript" charset="utf-8"></script>
<script>
        $(document).ready(function() {
          $('#lancamento-table').DataTable({
              'serverSide': true,
              'order': [[ 1, 'desc' ]],
              'ajax': '/cliente/lancamento_cliente/?format=datatables',
              "language": {
                   "sEmptyTable": "Nenhum registro encontrado",
                   "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                   "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                   "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                   "sInfoPostFix": "",
                   "sInfoThousands": ".",
                   "sLengthMenu": "_MENU_ Resultados por página",
                   "sLoadingRecords": "Carregando...",
                   "sProcessing": "Processando...",
                   "sZeroRecords": "Nenhum registro encontrado",
                   "sSearch": "Pesquisar: ",
                   "oPaginate": {
                       "sNext": "Próximo",
                       "sPrevious": "Anterior",
                       "sFirst": "Primeiro",
                       "sLast": "Último"
                   },
                   "oAria": {
                       "sSortAscending": ": Ordenar colunas de forma ascendente",
                       "sSortDescending": ": Ordenar colunas de forma descendente"
                   }
                },
              'columns': [
                  {'data': 'id', 'width' : '3%'},
                  {
                    'data': 'data' , render : function ( data, type, row ) {
                        var d = new Date(data);
                        var retorno = d.toLocaleString();
                        return retorno;
                     },
                     'width' : '12%'
                  },
                  {'data': 'preco_unidade_medida.lavoura.nome'},
                  {'data': 'operario.nome'},
                  {'data': 'credito'},
                  {'data': 'valor'},
                  {'data': null , render : function ( data, type, row ) {

                        var urlAtualizar = "{% url 'lancamento_cliente_atualizar' 123 %}";
                        urlAtualizar = urlAtualizar.replace('123', data.id);

                        var urlExcluir = "{% url 'lancamento_cliente_excluir' 123 %}";
                        urlExcluir = urlExcluir.replace('123', data.id);

                        return "<a class='btn btn-warning btn-sm m-1' href='" + urlAtualizar + "'> <span class='fa fa-edit'></span> Editar</a>" + "<button class='btn btn-danger btn-sm js-delete-lancamento m-1' data-url='" + urlExcluir + "'> <span class='fa fa-trash'></span> Excluir</button>";
                    },
                    'width' : '13%'
                  },
              ],


          });
      });
</script>
{% endblock %}

{% block content %}
<h2 class="page-header">Lançamentos dos Operários</h2>
<hr>


<div class="ml-2">
{% for data in datas_filtro %}
    <a class="btn btn-primary" href="?mes={{ data.month }}&ano={{ data.year }}">{{ data|date:"M/Y" }}</a>
{% endfor %}
</div>



<div class="table-responsive p-3">
    <h4>Lançamentos em: {{ data_instancia|date:"F/Y" }}</h4>
    <table class="table table-bordered dataTable mt-2" id="lancamento-table" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
        <thead>
            <th>#</th>
            <th>Data</th>
            <th>Lavoura</th>
            <th>Operário</th>
            <th>Qtde. Crédito</th>
            <th>Valor</th>
            <th></th>
        </thead>
<!--        <tbody>-->
<!--            {% include 'cliente/lancamento/lancamento_lista_parcial.html' %}</tbody>-->
    </table>

</div>

<div class="modal fade" id="modal-lancamento">
    <div class="modal-dialog">
        <div class="modal-content">

        </div>
    </div>
</div>




{% endblock content %}
