<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-3 text-muted">
  <span>Painel Abastecedor</span>
</h6>
<ul class=" navbar-nav">
  <li class="nav-item">
    <a class="nav-link {{ menu_dashboard_abastecedor }}" href="{% url 'dashboard_abastecedor' %}">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link {{ menu_lancamento }}" href="{% url 'lancamento_listar' %}">
      <i class="fab fa-fw fa-pagelines"></i>
      <span>Lançamentos</span></a>
  </li>
</ul>
<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-3 text-muted">
    <span>Anotações</span>
</h6>
<ul class=" navbar-nav">
    <li class="nav-item">
      <a class="nav-link {{ menu_operario_anotacao }}" href="{% url 'anotacao_operario_listar' %}">
        <i class="fas fa-edit"></i>
        <span>Operário</span></a>
    </li>
</ul>