<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-3 text-muted">
<span>Painel Associado</span>
</h6>
<ul class=" navbar-nav">
<li class="nav-item">
  <a class="nav-link {{ menu_dashboard_cliente }}" href="{% url 'dashboard_associado' %}">
    <i class="fas fa-fw fa-tachometer-alt"></i>
    <span>Dashboard</span>
  </a>
</li>
<li class="nav-item">
<span></span>
  <a class="nav-link {{ menu_lavoura }}" href="{% url 'lavoura_listar_associado' %}">
    <i class="fab fa-fw fa-pagelines"></i>
    <span>Lavoura</span></a>
</li>
<li class="nav-item">
  <a class="nav-link {{ menu_abastecedor }}" href="{% url 'abastecedor_listar_associado' %}">
    <i class="fas fa-fw fa-truck"></i>
    <span>Abastecedor</span></a>
</li>
<li class="nav-item">
  <a class="nav-link {{ menu_operario }}" href="{% url 'operario_listar_associado' %}">
    <i class="fas fa-fw fa-address-book"></i>
    <span>Operários</span></a>
</li>
 <li class="nav-item">
  <a class="nav-link {{ menu_cliente_lancamento }}" href="{% url 'lancamento_cliente_listar_associado' %}">
    <i class="fab fa-fw fa-pagelines"></i>
    <span>Lançamentos</span></a>
</li>
</ul>
