<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-3 text-muted">
    <span>Painel Produtor</span>
</h6>
<ul class=" navbar-nav">
    <li class="nav-item">
      <a class="nav-link {{ menu_dashboard_cliente }}" href="{% url 'dashboard_cliente' %}">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Dashboard</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link {{ menu_cliente_perfil_atualizar }}" href="{% url 'cliente_perfil_atualizar' %}">
        <i class="fas fa-fw fa-user-tie"></i>
        <span>Perfil</span></a>
    </li>
    <li class="nav-item">
    <span></span>
      <a class="nav-link {{ menu_lavoura }}" href="{% url 'lavoura_listar' %}">
        <i class="fab fa-fw fa-pagelines"></i>
        <span>Lavoura</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link {{ menu_associado }}" href="{% url 'associado_listar' %}">
        <i class="fas fa-fw fa-user-friends"></i>
        <span>Associados</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link {{ menu_abastecedor }}" href="{% url 'abastecedor_listar' %}">
        <i class="fas fa-fw fa-truck"></i>
        <span>Abastecedor</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link {{ menu_operario }}" href="{% url 'operario_listar' %}">
        <i class="fas fa-fw fa-address-book"></i>
        <span>Operários</span></a>
    </li>
     <li class="nav-item">
      <a class="nav-link {{ menu_cliente_lancamento }}" href="{% url 'lancamento_cliente_listar' %}">
        <i class="fab fa-fw fa-pagelines"></i>
        <span>Lançamentos</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link {{ menu_documento }}" href="{% url 'documento_listar' %}">
        <i class="fab fa-fw fa-pagelines"></i>
        <span>Arquivos</span></a>
    </li>
</ul>
<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-3 text-muted">
    <span>Anotações</span>
</h6>
<ul class=" navbar-nav">
    <li class="nav-item">
      <a class="nav-link {{ menu_cliente_anotacao }}" href="{% url 'anotacao_abastecedor_listar' %}">
        <i class="fas fa-fw fa-edit"></i>
        <span>Abastecedor</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link {{ menu_cliente_operario_anotacao }}" href="{% url 'anotacao_cliente_operario_listar' %}">
        <i class="fas fa-edit"></i>
        <span>Operário</span></a>
    </li>
</ul>
