<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-3 text-muted">
<span>Painel Adminstrativo</span>
</h6>
<ul class=" navbar-nav">
<li class="nav-item">
  <a class="nav-link {{ menu_dashboard_adm }}" href="{% url 'dashboard_gerenciamento' %}">
    <i class="fas fa-fw fa-tachometer-alt"></i>
    <span>Dashboard</span>
  </a>
</li>
<li class="nav-item">
  <a class="nav-link {{ menu_cliente }}" href="{% url 'cliente_listar' %}">
    <i class="fas fa-fw fa-user-tie"></i>
    <span>Clientes</span></a>
</li>
<li class="nav-item">
  <a class="nav-link {{ menu_abastecedor_gerente }}" href="{% url 'abastecedor_gerenciamento_listar' %}">
    <i class="fas fa-fw fa-truck"></i>
    <span>Abastecedores</span></a>
</li>
<li class="nav-item">
  <a class="nav-link {{ menu_cultivo }}" href="{% url 'cultivo_listar' %}">
    <i class="fas fa-fw fa-leaf"></i>
    <span>Cultivos</span></a>
</li>
<li class="nav-item">
  <a class="nav-link {{ menu_relatorio }}" href="{% url 'relatorio' %}">
    <i class="fas fa-fw fa-chart-line"></i>
    <span>Relatórios</span></a>
</li>
<li class="nav-item">
  <a class="nav-link {{ menu_unidade_medida }}" href="{% url 'unidade_medida_listar' %}">
    <i class="fas fa-fw fa-table"></i>
    <span>Unidade Medida</span></a>
</li>
</ul>