{% extends "base.html" %} 

{% block content %}

{% load staticfiles %}

{% block scripts %}
<script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
<script src="{% static 'apps/cliente/abastecedor.js' %}" type="text/javascript" charset="utf-8"></script>
{% endblock %}

<h2 class="page-header">Lista de Abastecedores</h2>
<hr>

<div class="table-responsive p-3">
    <table class="table table-bordered dataTable " id="abastecedor-table" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
        <thead>
            <th>#</th>
            <th>Nome</th>
            <th>Cliente</th>
            <th></th>
        </thead>
        <tbody>
            {% include 'gerenciamento/abastecedor/abastecedor_lista_parcial.html' %}</tbody>
    </table>
</div>

<div class="modal fade" id="modal-abastecedor">
    <div class="modal-dialog">
        <div class="modal-content">

        </div>
    </div>
</div>



{% endblock content %}
