{% for abastecedor in abastecedors %}
    <tr>
        <td>{{ abastecedor.id }}</td> 
        <td>{{ abastecedor.user.first_name }} {{ abastecedor.user.last_name }} </td>
        <td>{{ abastecedor.cliente_criacao.user.get_full_name }}</td>
        <td>
            <a class='btn btn-warning btn-sm m-1' href="{% url 'abastecedor_gerenciamento_atualizar' abastecedor.id %}"> <span class="fa fa-edit"></span></a>
            <form action="/hijack/{{ abastecedor.user.id }}/" method="post" style="display: inline">
            {% csrf_token %}
                <button class='btn btn-success btn-sm' type="submit"> <span class="fa fa-sign-in-alt"></span></button>
            </form>
        </td>
    </tr>
{% endfor %}