{% load staticfiles %}

<!DOCTYPE html>
<html lang="pt-BR">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/x-icon" href="{% static 'images/logo.png' %}">
    <title>GCOL</title>

    <link href="{% static 'plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'plugins/datatables/dataTables.bootstrap4.css' %}" rel="stylesheet">
    <link href="{% static 'plugins/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">

    <link href="{% static 'theme/sb-admin.css' %}" rel="stylesheet">

    <link href="{% static 'gcol/style.css' %}" rel="stylesheet">
  </head>

  <body id="page-top" class="bg-dark">

    <div id="wrapper">
  
      <div id="content-wrapper">
        <div class="container-fluid">
            {% block content %} {% endblock content %}
        </div>
        <!-- /.container-fluid -->
      </div>

      <!-- /.content-wrapper -->
    </div>
    <!-- /#wrapper -->

    <script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'plugins/jquery-easing/jquery.easing.min.js' %}"></script>
    <script src="{% static 'plugins/chart.js/Chart.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/jquery.dataTables.js' %}"></script>
    <script src="{% static 'plugins/datatables/dataTables.bootstrap4.js' %}"></script>
    <script src="{% static 'theme/sb-admin.min.js' %}"></script>
    <script src="{% static 'gcol/gcol.js' %}"></script>

  </body>
</html>
