{% load staticfiles %}

{% load core_extras %}

{% load hijack_tags %}

<!DOCTYPE html>
<html lang="pt-BR">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/x-icon" href="{% static 'images/logo.png' %}">
    <title>GCOL</title>

    <link href="{% static 'plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'plugins/datatables/dataTables.bootstrap4.css' %}" rel="stylesheet">
    <link href="{% static 'plugins/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'theme/sb-admin.css' %}" rel="stylesheet">
    <link href="{% static 'gcol/style.css' %}" rel="stylesheet">
    <link href="{% static 'hijack/hijack-styles.css' %}" rel="stylesheet" type="text/css"  />

    {{ form.media.css }}
  </head>

  <body id="page-top">
    {% hijack_notification %}

    <nav class="navbar navbar-expand navbar-dark bg-dark static-top nav-top justify-content-between">
      <div>
        <button class="btn btn-link btn-sm text-white order-1 order-sm-0 mb-2" id="sidebarToggle" href="#">
          <i class="fas fa-bars"></i>
        </button>
        <a class="navbar-brand mr-1" href="index.html">GCOL</a>
      </div>
      <div>
        <span style="color: #FFF" class="mr-2">{% if request.user.first_name %} Seja bem vindo, {{ request.user.first_name }} {% endif %}</span>
        <a href="#" class="link" data-toggle="modal" data-target="#modal-logout">
            <i class="fas fa-fw fa-power-off" style="color : #FFF"></i>
        </a>

        <div class="modal fade" id="modal-logout" tabindex="-1" role="dialog" aria-labelledby="modal-logout" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Tem certeza que deseja sair?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-footer">
                <a href="{% url 'logout' %}" data-toggle="tooltip" title="Logout">
                    <button type="button" class="btn btn-danger" >Sair</button>
                </a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
              </div>
            </div>
          </div>
        </div>

      </div>
      </div>
    </nav>

    <div id="wrapper">
  
      <!-- Sidebar -->
      <nav class=" bg-light sidebar">
        <div class="sidebar-sticky">
          {% if request.user.is_staff %}
            {% include 'fragments/sidebar/menu_gerenciamento.html' %}
          {% endif %}

          {% if request.user|is_cliente %}
            {% include 'fragments/sidebar/menu_cliente.html' %}
          {% endif %}

          {% if request.user|is_associado %}
            {% include 'fragments/sidebar/menu_associado.html' %}
          {% endif %}

          {% if request.user|is_abastecedor %}
            {% include 'fragments/sidebar/menu_abastecedor.html' %}
          {% endif %}

        </div>
      </nav>

      <div id="content-wrapper">
        <div class="container-fluid">
            {% block content %} {% endblock content %}
        </div>
        <!-- /.container-fluid -->
      </div>

      <!-- /.content-wrapper -->
    </div>
    <!-- /#wrapper -->

    {% block scripts %}
    <script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'plugins/jquery-easing/jquery.easing.min.js' %}"></script>
    <script src="{% static 'plugins/chart.js/Chart.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/jquery.dataTables.js' %}"></script>
    <script src="{% static 'plugins/datatables/dataTables.bootstrap4.js' %}"></script>
    <script src="{% static 'theme/sb-admin.min.js' %}"></script>
    <script src="{% static 'gcol/gcol.js' %}"></script>
    {{ form.media.js }}
    {% endblock %}

  </body>
</html>
