{% load crispy_forms_tags %} 
{% csrf_token %}

<h4>Credenciais</h4>
{{ form_signup | crispy }}

<h4 class="pt-5">Informações Gerais</h4>
{{ form | crispy }}

<h4 class="pt-5">Contato Próximo</h4>
{{ form_contato | crispy }}

<h4 class="pt-5">Endereço</h4>
{{ form_endereco | crispy }}

