{% extends "base.html" %} 

{% load staticfiles %}

{% block scripts %}
{{ block.super }}
<script src="{% static 'apps/cliente/abastecedor.js' %}" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block content %}

{% load core_extras %}

<h2 class="page-header">Lista de Abastecedores</h2>
<hr>

{% if numero_lavoura > 0 %}

{% if request.user|is_cliente %}
<div class="d-flex justify-content-end">
    <a class='btn btn-primary mb-2 justify-content-end' href="{% url 'abastecedor_criar' %}"> <span class="fa fa-plus"></span> Novo</a>
</div>
{% endif %}

<div class="table-responsive p-3">
    <table class="table table-bordered dataTable " id="abastecedor-table" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
        <thead>
            <th>#</th>
            <th>Nome</th>
            <th>Celular</th>
            <th>Inativo</th>
            <th></th>
        </thead>
        <tbody>
            {% include 'cliente/abastecedor/abastecedor_lista_parcial.html' %}</tbody>
    </table>
</div>


<div class="modal fade" id="modal-abastecedor">
    <div class="modal-dialog">
        <div class="modal-content">

        </div>
    </div>
</div>

{% else %}

    <div class="col-md-4 alert alert-danger" role="alert">
      <h2 class="alert-heading">Atenção!</h2>
        <hr>
      <p class="mb-0">É necessário cadastrar uma LAVOURA primeiramente...</p>
    <div class="d-flex justify-content-end mt-3">
        <a class='btn btn-primary mb-2 justify-content-end' href="{% url 'lavoura_criar' %}"> <span class="fa fa-plus"></span> Cadastrar Lavoura</a>
    </div>

    </div>


{% endif %}


{% endblock content %}


