{% load core_extras %}

{% for abastecedor in abastecedors %}
    <tr>
        <td></td>
        <td>{{ abastecedor.user.first_name }} {{ abastecedor.user.last_name }} </td>
        <td>{{ abastecedor.celular }}</td>
        <td>{{ abastecedor.inativo|yesno:"Sim,Não" }}</td>
        <td>
            {% if request.user|is_cliente %}
            <a class='btn btn-warning btn-sm m-1' href="{% url 'abastecedor_atualizar' abastecedor.id %}"> <span class="fa fa-edit"></span> Editar</a>
            {% endif %}
        </td>
    </tr>
{% endfor %}