{% extends "base.html" %} 

{% block content %}

{% load staticfiles %}

<h2 class="page-header">Editar Abastecedor</h2>
<hr>
<div class="col-xl-8 offset-xl-2">
<div class="card mb-3">
    <div class="card-body">
        <form method="post" action="{% url 'abastecedor_atualizar' form.instance.pk %}" >
            {% csrf_token %}

            {% include 'cliente/abastecedor/abastecedor_form.html' %}

            <a type="button" class="btn btn-default" href="{% url 'abastecedor_listar' %}">Cancelar</a>
            <button type="submit" class="btn btn-primary">Salvar</button>

        </form>
    </div>
</div>
</div>
{% endblock content %}
