.content{
    max-width: 1100px;
}

.nav-top{
    -webkit-box-shadow: 0px 1px 10px 2px rgba(0,0,0,0.42);
    -moz-box-shadow: 0px 1px 10px 2px rgba(0,0,0,0.42);
    box-shadow: 0px 1px 10px 2px rgba(0,0,0,0.42);
}

.sidebar{
    -webkit-box-shadow: 2px 2px 15px -4px rgba(0,0,0,0.47);
    -moz-box-shadow: 2px 2px 15px -4px rgba(0,0,0,0.47);
    box-shadow: 2px 2px 15px -4px rgba(0,0,0,0.47); 
}

.sidebar-heading span {
    font-size: 0.65rem;
    display: block;
}

.sidebar.toggled .sidebar-heading span {
    font-size: 0.65rem;
    display: block;
}

@media (min-width: 768px){

    .sidebar-heading span {
        font-size: 1rem;
        display: block;
    }

}

.btn-delete-formset{
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s;
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
}

.select2-container .select2-selection--single{
    height: 38px !important;
    padding-top: 4px;
}