{% extends "base.html" %}

{% block content %}

{% load staticfiles %}

<h2 class="page-header">Documento</h2>
<hr>
<div class="row">
    <div class="col-md-6">
        <div class="card mb-3">
            <div class="card-body">
                <form method="post" action="{% url 'documento_atualizar' form.instance.pk %}">

                    <h4>Editar Documento</h4>

                    {% include 'cliente/documento/documento_form.html' %}

                    <a class="btn btn-danger" href="{% url 'documento_listar' %}">Cancelar</a>
                    <button type="submit" class="btn btn-primary">Salvar</button>

                </form>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card mb-3">
            <div class="card-body">

                    <h4>Variáveis Disponíveis</h4>

                    {% include 'cliente/documento/documento_form.html' %}

                    <a class="btn btn-danger" href="{% url 'documento_listar' %}">Cancelar</a>
                    <button type="submit" class="btn btn-primary">Salvar</button>

            </div>
        </div>
    </div>
</div>
{% endblock content %}
