{% load core_extras %}

{% for documento in documentos %}
    <tr>
        <td></td>
        <td>{{ documento.nome }}</td>
        <td>
            {% if request.user|is_cliente %}
            <a class='btn btn-warning btn-sm m-1' href="{% url 'documento_atualizar' documento.id %}"> <span class="fa fa-edit"></span> Editar</a>
            {% endif %}
        </td>
    </tr>
{% endfor %}