{% extends "base.html" %} 

{% load staticfiles %}

{% block scripts %}
{{ block.super }}
<script src="{% static 'apps/cliente/documento.js' %}" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block content %}

{% load core_extras %}

<h2 class="page-header">Arquivos</h2>
<hr>


{% if request.user|is_cliente %}
<div class="d-flex justify-content-end">
    <a class='btn btn-primary mb-2 justify-content-end' href="{% url 'documento_criar' %}"> <span class="fa fa-plus"></span> Novo</a>
</div>
{% endif %}

<div class="table-responsive p-3">
    <table class="table table-bordered dataTable " id="documento-table" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
        <thead>
            <th>#</th>
            <th>Nome</th>
            <th></th>
        </thead>
        <tbody>
            {% include 'cliente/documento/documento_lista_parcial.html' %}</tbody>
    </table>
</div>


<div class="modal fade" id="modal-documento">
    <div class="modal-dialog">
        <div class="modal-content">

        </div>
    </div>
</div>


{% endblock content %}


