{% extends "base.html" %} 

{% block content %}

{% load staticfiles %}

<h2 class="page-header">Documento</h2>
<hr>
<div class="col-xl-8 offset-xl-2">
    <div class="card mb-3">
        <div class="card-body">
            <form method="post" action="{% url 'documento_criar'  %}" >


                <h4>Novo Documento</h4>
                {% include 'cliente/documento/documento_form.html' %}

                <a class="btn btn-danger" href="{% url 'documento_listar' %}">Cancelar</a>
                <button type="submit" class="btn btn-primary" onclick="this.disabled=true,this.form.submit();">Salvar</button>
            </form>
        </div>
    </div>
</div>


{% endblock content %}
