{% extends "base.html" %} 

{% block content %}

{% load staticfiles %}

{% block scripts%}
{{ block.super }}
<script>
  $(function () {
    $("#datetimepicker1").datetimepicker({
      format: 'DD/MM/YYYY HH:mm',
    });
  });
</script>

{{ form.js }}
{% endblock%}


<h2 class="page-header">Nova Anotação Abastecedor</h2>
<hr>
<div class="col-xl-8 offset-xl-2">
    <div class="card mb-3">
        <div class="card-body">
            <form method="post" action="{% url 'anotacao_abastecedor_criar'  %}" >
                {% csrf_token %}

                {% include 'cliente/anotacao_abastecedor/anotacao_form.html' %}

                <a type="button" class="btn btn-default" href="{% url 'anotacao_abastecedor_listar' %}">Cancelar</a>
                <button type="submit" class="btn btn-primary" onclick="this.disabled=true,this.form.submit();">Salvar</button>
            </form>
        </div>
    </div>
</div>


{% endblock content %}
