<form method="post" action="{% url 'anotacao_abastecedor_excluir' anotacao.id %}" class="js-anotacao-delete-form">
  {% csrf_token %}
  <div class="modal-header">
    <h4 class="modal-title">Deletar Anotação Abastecedor</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p class="lead">Tem certeza que deseja deletar a Anotação <strong>{{ anotacao.id }}</strong>?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
    <button type="submit" class="btn btn-danger">Deletar</button>
  </div>
</form>