{% extends "base.html" %} 

{% block content %}

{% load staticfiles %}

{% block scripts %}
{{ block.super }}
<script src="{% static 'apps/cliente/anotacao.js' %}" type="text/javascript" charset="utf-8"></script>
{% endblock %}

<h2 class="page-header">Anotações de Abastecedores</h2>
<hr>
<div class="d-flex justify-content-end">
    <a class='btn btn-primary mb-2 justify-content-end' href="{% url 'anotacao_abastecedor_criar' %}"> <span class="fa fa-plus"></span> Nova</a>
</div>

<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
        Lista de Anotações
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered dataTable " id="anotacao-table" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                <thead>
                    <th>#</th>
                    <th>Abastecedor</th>
                    <th>Texto</th>
                    <th></th>
                </thead>
                <tbody>
                    {% include 'cliente/anotacao_abastecedor/anotacao_lista_parcial.html' %}</tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-anotacao">
    <div class="modal-dialog">
        <div class="modal-content">

        </div>
    </div>
</div>



{% endblock content %}
