{% extends "base.html" %} 

{% block content %}

{% load staticfiles %}

{% block scripts %}
<script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
<script src="{% static 'apps/gerenciamento/relatorio.js' %}" type="text/javascript" charset="utf-8"></script>
{% endblock %}

<div class="header">
    <h1>Relatórios Adminstrativo</h1>
</div>

<div class="container pt-4">
    <table class="table table-bordered dataTable " id="lancamento-table" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
        <thead>
            <th>Data</th>
            <th>Cliente</th>
            <th>Abastecedor</th>
            <th>Operário</th>
            <th>Agricultura</th>
            <th>Lavoura</th>
            <th>Crédito</th>
            <th>Cancelada</th>
        </thead>
        <tbody>

        {% for lancamento in lancamentos %}
        <tr>
            <td>{{ lancamento.data|date:'d/m/y' }}</td>
            <td>{{ lancamento.operario.cliente_criacao }}</td>
            <td>{{ lancamento.abastecedor.user.get_full_name }}</td>
            <td>{{ lancamento.operario }}</td>
            <td>{{ lancamento.agricultura }}</td>
            <td>{{ lancamento.lavoura }}</td>
            <td>{{ lancamento.credito }}</td>
            <td>{{ lancamento.cancelada|yesno:"Sim,Não" }}</td>
        </tr>
        {% endfor %}
          <tfoot>
            <tr>
                <th>Data</th>
                <th>Cliente</th>
                <th>Abastecedor</th>
                <th>Operário</th>
                <th>Agricultura</th>
                <th>Lavoura</th>
                <th>Crédito</th>
                <th>Cancelada</th>
            </tr>
        </tfoot>

    </table>
</div>

{% endblock content %}
