{% load core_extras %}

{% for recibo in recibos %}
<tr>
    <td>{{ recibo.id }}</td>
    <td>{{ recibo.data }}</td>
    <td>R$ {{ recibo.valor_total }}</td>
    <td>
        <a class='btn btn-warning btn-sm m-1' href="#" data-toggle="tooltip"
           data-placement="top" title="Imprimir Recibo">
            <span class="fa fa-print"></span>
        </a>
    </td>
</tr>
{% endfor %}