{% extends "base.html" %} 

{% load staticfiles %}

{% load core_extras %}
{% block scripts %}
{{ block.super }}
<script src="{% static 'apps/cliente/recibo.js' %}" type="text/javascript" charset="utf-8"></script>
{% endblock %}
{% block content %}

<h2 class="page-header">Lista de Recibos</h2>
<hr>

<div class="table-responsive p-3">
    <table class="table table-bordered dataTable " id="recibo-table" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
        <thead>
            <th>#</th>
            <th>Data</th>
            <th>Valor Recibo</th>
            <th></th>
        </thead>
        <tbody>
            {% include 'cliente/recibo/recibo_lista_parcial.html' %}</tbody>
    </table>
</div>

<div class="modal fade" id="modal-lavoura">
    <div class="modal-dialog">
        <div class="modal-content">

        </div>
    </div>
</div>



{% endblock content %}
