{% extends "base.html" %} 

{% block content %}

{% load staticfiles %}

{% block scripts %}
<script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
<script src="{% static 'apps/gerenciamento/cliente.js' %}" type="text/javascript" charset="utf-8"></script>
{% endblock %}

<h2 class="page-header">Lista de Clientes</h2>
<hr>
<div class="d-flex justify-content-end">
    <a class='btn btn-primary mb-2 justify-content-end' href="{% url 'cliente_criar' %}"> <span class="fa fa-plus"></span> Nova</a>
</div>

<div class="table-responsive p-3">
    <table class="table table-bordered dataTable " id="cliente-table" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
        <thead>
            <th>#</th>
            <th>Nome</th>
            <th>Celular</th>
            <th>Inativo</th>
            <th></th>
        </thead>
        <tbody>
            {% include 'gerenciamento/cliente/cliente_lista_parcial.html' %}</tbody>
    </table>
</div>

<div class="modal fade" id="modal-cliente">
    <div class="modal-dialog">
        <div class="modal-content">

        </div>
    </div>
</div>



{% endblock content %}
