{% extends "base.html" %} 

{% block content %}

{% load staticfiles %}



<h2 class="page-header">Novo Cliente</h2>
<hr>
<div class="col-xl-8 offset-xl-2">
    <div class="card mb-3">
        <div class="card-body">
            <form method="post" action="{% url 'cliente_criar'  %}" >
                {% csrf_token %}

                {% include 'gerenciamento/cliente/cliente_form.html' %}

                <a type="button" class="btn btn-default" href="{% url 'cliente_listar' %}">Cancelar</a>
                <button type="submit" class="btn btn-primary" onclick="this.disabled=true,this.form.submit();">Salvar</button>
            </form>
        </div>
    </div>
</div>


{% endblock content %}
