
{% for cliente in clientes %}


    <tr>
        <td>{{ cliente.id }}</td> 
        <td>{{ cliente.user.first_name }} {{ cliente.user.last_name }}</td>
        <td>{{ cliente.celular }}</td>
        <td>{{ cliente.inativo|yesno:"Sim,Não" }}</td>
        <td>
            <a class='btn btn-warning btn-sm m-1' href="{% url 'cliente_atualizar' cliente.id %}"> <span class="fa fa-edit"></span></a>
            <form action="/hijack/{{ cliente.user.id }}/" method="post" style="display: inline">
            {% csrf_token %}
                <button class='btn btn-success btn-sm' type="submit"> <span class="fa fa-sign-in-alt"></span></button>
            </form>
        </td>
    </tr>

{% endfor %}